@use 'variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 基本標籤樣式設定 */
body {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $neutral_900;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    color: $neutral_900;
    text-decoration: none;
    display: block;
    font-weight: 500;
}

/* 格線系統 */
.container {
    max-width: 1296px;
    margin: 0 auto;
/*     padding-right: 12px;
    padding-left: 12px; */
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

[class*="col-"] {
    padding-left: 12px;
    padding-right: 12px;
}
.col-1 {
    width: calc(100% / 12);
}
.col-2 {
    width: calc(100% / 12 * 2);
}
.col-3 {
    width: calc(100% / 12 * 3);
}
.col-12 {
    width: calc(100% / 12 * 12);
}

/* 通用樣式 */
h1 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
}

h3 {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
}
h4 {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
}
h5 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}
h6 {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
}

/* 文字大小、顏色 */
.text-sm {
    font-size: 14px;
}

.text-primary-400 {
    color: $primary_400;
}
.text-neutral-900 {
    color: $neutral_900;
}

/* 排版 */
.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* 間距 */
.p-12 {
    padding: 12px;
}
.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}
.mr-48 {
    margin-right: 48px;
}
.mr-40 {
    margin-right: 40px;
}
